/*CSS reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

/* targets the html element body */
body {
	/*background-color: #85C1E9;*/
	background-image: linear-gradient(rgba(151, 154, 154, .2), rgba(95, 106, 106, .6) ), url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
/* end of body styling */

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	background-color: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 4px;
	padding: 3px;
	border-radius: 10px;
	box-shadow: 5px 5px #f2f2f2;
	background-image: linear-gradient(#566573, #212F3D);
}
/*end of h1 styling*/

h2 {
	color: #f2f2f2;
	font-size: 30px;
	text-transform: uppercase;
	/*background-color: #333;*/
	letter-spacing: 5px;
	margin-bottom: 15px;
	/*margin: 10px;  marging creates space outside of the element*/
	/*padding: 10px;  adds space inside the element*/
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	margin: 10px auto; 
	box-shadow: 5px 5px #f2f2f2;
	background-image: linear-gradient(#566573, #212F3D);
}
/*end of h2 styling*/

/*targets the class named bio*/
.bio {
	font-family: 'Lora', serif;
	font-size: 20px;
	/*background-color: rgba(51,51,51);*/
	color: #f2f2f2;
	padding: 20px;
	border-radius: 20px;
	line-height: 1.75;	
	width: 65%;
	margin: 0 auto; 
	box-shadow: 5px 5px #f2f2f2;
	background-image: linear-gradient(#566573, #212F3D);
}

/* targets the class named container*/
.container {
	width: 60%;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally*/
}

/*targets the element with the id me*/
#me {
	height: 40%;
	width: 40%;
	border-radius: 50%;
  	border-style: groove;
  	border-color: #212F3D, #566573;
  	border-width: 8px;
  	margin-top: 60px;
  	margin-bottom: 20px;
}